<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div>
          <h5>Blog de noticias</h5>
          <p>Contáctanos en las redes</p>
          <div>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-whatsapp"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
          </div>
        </div>
      </div>

      <div class="row col-9">
        <div class="col-md-3">
          <div class="mb-2">
            <h5>Noticias</h5>
          </div>
          <div>
            <ul class="list-unstyled">
              <li><a href="#">Últimas tendencias</a></li>
              <li><a href="#">Fútbol</a></li>
              <li><a href="#">Internacional</a></li>
              <li><a href="#">Noticias locales</a></li>
              <li><a href="#">Top leidas</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3">
          <div class="mb-2">
            <h5>Technical</h5>
          </div>
          <div>
            <ul class="list-unstyled">
              <li><a href="#">Documentation</a></li>
              <li><a href="#">Changelog</a></li>
              <li><a href="#">Landing</a></li>
              <li><a href="#">Theme Customizer</a></li>
              <li><a href="#">Ui kit</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3">
          <div class="mb-2">
            <h5>Includes</h5>
          </div>
          <div>
            <ul class="list-unstyled">
              <li><a href="#">Utilities</a></li>
              <li><a href="#">Components</a></li>
              <li><a href="#">Layouts</a></li>
              <li><a href="#">Code samples</a></li>
              <li><a href="#">Products</a></li>
              <li><a href="#">Affiliates</a></li>
              <li><a href="#">Updates</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3">
          <div class="mb-2">
            <h5>Problemas internacionales</h5>
          </div>
          <div>
            <ul class="list-unstyled">
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms and Conditions</a></li>
              <li><a href="#">License</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md mt-3 mb-3">
        <hr />
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="d-flex justify-content-start">
          <p>Copyright your website 2021</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex justify-content-end">
          <p>Privacy Policy · Terms & Conditions</p>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/app.js"></script>
</footer>
