<ul>
  <li class="profile-stats-item-active">
    <a>
      <span class="profile-stats-item profile-stats-item-label">Tweets</span>
      <span class="profile-stats-item profile-stats-item-number">51</span>
    </a>
  </li>
  <li>
    <a>
      <span class="profile-stats-item profile-stats-item-label">Following</span>
      <span class="profile-stats-item profile-stats-item-number">420</span>
    </a>
  </li>
  <li>
    <a>
      <span class="profile-stats-item profile-stats-item-label">Followers</span>
      <span class="profile-stats-item profile-stats-item-number">583</span>
    </a>
  </li>
  <li>
    <a>
      <span class="profile-stats-item profile-stats-item-label">Likes</span>
      <span class="profile-stats-item profile-stats-item-number">241</span>
    </a>
  </li>
</ul>
