<li class="tweet-card">
  <div class="tweet-content">
    <img
      class="tweet-card-avatar"
      src="https://pbs.twimg.com/profile_images/679974972278849537/bzzb-6H4_bigger.jpg"
      alt=""
    />
    <div class="tweet-header">
      <span class="fullname">
        <strong>Jon Vadillo</strong>
      </span>
      <span class="username">@JonVadillo</span>
    </div>

    <button class="btn btn-follow">Follow</button>
  </div>
</li>
